@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo</h1>
    <p>
        Combinamos Inovação, Tecnologia e Conhecimento para impulsionar os negócios dos nossos clientes
        A Claranet trabalha com empresas de todos os setores e possui uma vasta experiência em cloud computing,
        cibersegurança, dados e DevOps, utilizando as melhores tecnologias, os melhores talentos e anos de experiencia
        para ofertar soluções customizadas aos seus clientes.
    </p>
    <div>
        <a class="btn btn-lg btn-primary" asp-area="" asp-controller="Cadastro" asp-action="Index"><i class="fa-solid fa-address-card"></i> Cadastro</a>

    </div>

</div>
