@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrar";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h3>Novo usuário</h3>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <label asp-for="Input.Email" class="form-label"></label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="register-addon-email"><i class="fa-solid fa-envelope"></i></span>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-describedby="register-addon-email" aria-required="true" placeholder="Email" />
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="row">
                <label asp-for="Input.Password" class="form-label"></label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="register-addon-passwd"><i class="fa-solid fa-key"></i></span>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-describedby="register-addon-passwd" aria-required="true" />
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="row">
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="register-addon-confirm-passwd"><i class="fa-solid fa-key"></i></span>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-describedby="register-addon-confirm-passwd" aria-required="true" />
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
